:root {
  --clr-khaki: #5E583F;
  --clr-grey-dark: #2c3033;
  --clr-grey-light: #867E72;
  --clr-grey-bright: #B9C1C9;
  --clr-yellow: #DB922C;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--clr-grey-light);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
}

a {
  color: var(--clr-grey-light);
}

h1 {
  font-family: 'Montez', cursive;
  font-weight: 100;
  font-size: 2.4rem;
}

h2 {
  font-family: 'Montez', cursive;
  font-weight: 100;
  font-size: 2.8rem;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
}

/* -------------------- SECTION TITLES ---------------------- */

.section_header {
  text-align: center;
  width: 100%;
  margin: 45px 10px 15px 10px;
}

/* -------------------- TOP SECTION ---------------------- */

.slicknav_menu {
  display: none;
  z-index: 1;
}

.section--top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--clr-grey-dark);
  color: var(--clr-grey-bright);
}

.section--top ul {
  list-style: none;
  display: flex;
}

.section--top li {
  margin: 3px 20px 0 0;
}

.section--top i:hover {
  opacity: 0.7;
}

.section--top p {
  margin-bottom: 5px;
  font-size: 1rem;
}

/* --------------------- NAVIGATION ------------------------ */

.section--nav {
  margin: 0 auto;
  background: var(--clr-grey-light);
  text-align: center;
}

nav {
  color: var(--clr-grey-dark);  
  max-width: 80vw;
}

nav::after {
  content: '';
  display: block;
  height: 0;
  clear: left;
}

.nav_logo {
  width: 50px;
  margin: 3px 0 3px 10px;
  float: left;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
  list-style: none;
}

nav li {
  margin-left: 10px;
}

nav a {
  color: inherit;
  text-decoration: none;
  margin-left: 10px;
  letter-spacing: 1.3px;
}

nav a:hover {
  text-decoration: underline;
}

/* --------------------- HERO SECTION ------------------------ */

.section--hero {
  background-image: url(../images/hero-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero_logo {
  display: none;
  max-width: 20vw;
  min-width: 200px;
}

.fancy_text {
  display: none;
  font-family: 'Montez', cursive;
  font-size: 2rem;
  text-align: center;
  color: var(--clr-grey-bright);
  background: rgba(0,0,0,0.4);
  padding: 7px;
  border-radius: 5px;  
}

/* ---------------- AWARDS SECTION -------------------- */

.section--awards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section--awards div {
  display: flex;
  align-items: center;
}

.section--awards div img {
  padding: 15px;
  width: 25vw;
  max-width: 170px;
  filter: grayscale(100%);
}

.section--awards div img:hover {
  filter: grayscale(0);
}

/* ---------------- ABOUT SECTION -------------------- */

.section--about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_body {
  width: 80vw;
  max-width: 1300px;
  min-height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about_text {
  margin: 10px;
  padding-left: 10px;
  min-width: 350px;
  max-width: 70vw;
}

.about_image {
  margin-left: 10px;
  max-width: 100%;
  height: 100%;
}

.about_image img {
  width: 100%;
  min-width: 250px;
  border-radius: 5px;
}

.about_title {
  text-align: center;
}

.about_para {
  padding-bottom: 15px;
}


/* --------------------- MENU SECTION ------------------------ */

.section--menus {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: white;
  font-size: 1rem;
}

.menu_item {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 280px;
  background-size: cover;
  color: white;
  border-radius: 5px;
  margin: 30px;
}

#menu_item_lunch {
  background-image: url(../images/menu-lunch.jpg);
}

#menu_item_dinner {
  background-image: url(../images/menu-dinner.jpg);
}

#menu_item_taster {
  background-image: url(../images/menu-taster.jpg);
}

.menu_info_top {
  background: rgba(0,0,0,0.5);
  padding: 5px 20px;
}

.menu_info_bottom {
  position: absolute; 
  bottom: -110px;
  width: 100%;
  max-height: 40%;
  padding: 15px 20px;
  background: rgba(0,0,0,0.5);
}

.menu_item:hover > .menu_info_bottom {
  display: inline;
  transition: ease 0.8s;
  bottom: 0;
}

/* ---------------- REVIEW SECTION -------------------- */

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #2c3033;
}

.section--reviews {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  flex-wrap: wrap;
  background: white;
  font-size: 1rem;
}

.review_item {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 350px;
  with: 100%;
  padding: 10px;
}

.author {
  display: block;
  position: relative;
  margin: 0;
  height: 80px;
  padding: 0 35px;
  z-index: 1;
}

.author img {
  position: absolute;
  display: block;
  padding-right: 10px;
  max-width: 100%;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  right: 50%;
}

.author h4, .author span {
  left: 50%;
  position: absolute;
}

.author h4 {
  position: absolute;
  padding-bottom: 3px;
  bottom: 50%;
  margin: 0;
  font-family: 'Montez', cursive;
  font-size: 1.3rem;
}

.author span {
  position: absolute;
  top: 50%;
  padding-top: 3px;
  margin: 0;
  font-size: 0.9rem;
}

.review_words {
  background: white;
  -webkit-box-shadow: 2px 2px 10px 0px #867E72; 
  box-shadow: 2px 2px 10px 0px #867E72;
  border-radius: 5px;
  position: relative;
  display: block;
  margin: -40px 0 0 ;
  padding: 65px 50px 35px 50px;
  min-height: 220px;
}

.review_words:before,
.review_words:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
.review_words:before {
  top: 55px;
  left: 20px;
}
.review_words:after {
  content: "\201D";
  right: 20px;
  bottom: 5px;
}

/* --------------------- FOOTER ------------------------ */

footer {
  padding: 5px;
  background: var(--clr-grey-light);
  color: white;
  text-align: center;
  font-size: 1rem;
}

footer .copyright {
  margin-right: 30px;
}